/*-- scss:defaults --*/
$body-bg: #F9F6DF;
$text-color: #333;

/*-- scss:rules --*/
body {
  font-family: 'Arial', sans-serif;
  color: $text-color;
  background-color: $body-bg;
}

main {
  text-align: center !important;
}

/* Increase icon and text size inside about links */
.about-link {
  font-size: 2rem; /* increase text size */
  padding: 0.8em 1.2em; /* increase button padding */
}

.about-link i {
  font-size: 1.1rem; /* increase icon size */
}